%h1 QuickMods

#quickmod_index.ui.items
  - @quickmods.each do |quickmod|
    %a.item{:href => url_for(quickmod)}
      .image
        = placeholder(350, 150)
      .content
        .name= quickmod.name
        .description= quickmod.description
      .extra= 'last updated ' + time_ago_in_words(quickmod.updated_at).gsub(/^about /, '') + ' ago'

